.cabecera{
    display: flex;
    justify-content: space-between;
}

#enlaceCabecera{
    padding-top: 30px;
    justify-content: space-between;
    word-spacing: 20px;
}


a{
    font-size: 20px;
    font-weight: bolder;
    color: black;
    text-decoration-line: none;
}

.parrafo {
    background-image: url("../img/bosques.jpg");
    height: auto;
    padding-bottom: 20px;
    padding-top: 100px;
    color: white;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 40px;
}

.imagen{
    height: 220px;
    width: 350px;
}

.titulo{
    font-weight: bold;
    font-size: 20px;
}


.subtitulo{
    font-style: italic;
    font-size: 15px;
}

.info{
    font-size: 15px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.poblacion{
    display: flex;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 1/1;
}

.infovul{
    display: flex;
    justify-content: center;
}



.animal{
    border: 2px solid black;
    border-radius: 5px;
}


.biblio{
    padding-top: 40px;
    background: lightgray;
    padding-bottom: 100px;

}
.pie{
    display: grid;
    padding-top: 100px;
    background: black;
    color: white;
    grid-template-areas:
            "linkCC linkCC linkCC seguirnos"
            "linkCC linkCC  linkCC seguirnos"
            "linkCC linkCC  linkCC seguirnos"
;
}

.linkCC{
    grid-area: linkCC;
}
.seguirnos {
    grid-area: seguirnos;

}

.CC{
    color: white;
}


@media (max-width: 1100px) {
    .animal{
        border: 2px solid black;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 5px;
    }

}


